<a href="https://colab.research.google.com/github/msheikh1/Week_4_Independant_project/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2019_06_Masud_Sheikh_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


##Importing libraries

---

In [ ]:
#Importing numpy
import numpy as np
#Importing pandas
import pandas as pd

##Reading our datasets from the csv file

In [ ]:
df = pd.read_csv("Autolib_dataset.csv")

df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 25 columns]

##Accessing data types of the dataset

In [ ]:
#Getting the info of the dataset at hand 
df.info()
#Now we now data type and understanding of the columns while getting the number of entries and more
#This gives us a rough overview of what we are working with

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

##Cleaning our dataset

###Validity

In [ ]:
#Dropping irrelevant data not necessary to answer the questions
#Displayed comment was irrelevant and had many null values 
#Then displaying the table to check results
df.drop(["Displayed comment"],axis="columns",inplace=True)
df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 24 columns]

In [ ]:
#Dropping Geo point column as no question refers to it
df.drop(["Geo point"],axis="columns",inplace=True)
df.head(3)

KeyError: ignored

In [ ]:
#Dropping charging status and scheduled at 
df.drop(["Charging Status","Scheduled at","Subscription status","Charge Slots","Address","Cars"],axis="columns",inplace=True)
df.head(3)

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ... day hour minute
0                0               0                   0  ...   8   11     43
1                6               0                   0  ...   6    7     24
2                3               0                   2  ...   3   20     14

[3 rows x 17 columns]

###Accuracy

In [ ]:
#There is no sums or totals in any of the columns so you can't test for accuracy in  this data

###Completeness

In [ ]:
#For completeness we look for null values in the data
df.isnull().any()
#In this case none if they were we would have pinpointed and decided whether to delete it

Bluecar counter       False
Utilib counter        False
Utilib 1.4 counter    False
City                  False
ID                    False
Kind                  False
Postal code           False
Public name           False
Rental status         False
Slots                 False
Station type          False
Status                False
year                  False
month                 False
day                   False
hour                  False
minute                False
dtype: bool

###Uniformity

In [ ]:
#In this case I made all the column names uppercase for uniformity
df=df.rename(columns=str.upper)
df.head(3)

   BLUECAR COUNTER  UTILIB COUNTER  UTILIB 1.4 COUNTER  ... DAY HOUR MINUTE
0                0               0                   0  ...   8   11     43
1                6               0                   0  ...   6    7     24
2                3               0                   2  ...   3   20     14

[3 rows x 17 columns]

###Consistency

In [ ]:
#Checking for duplicated values which could have been a mistake in the data
df.duplicated().sum()
#The are zero duplicates

0

##Creating new columns

In [ ]:
#Creating a new column called date which is called date time1 which will be used by us temporarily
#The date time1 has the columns(year,month,day,hour,minute) all concatenated as a string so they can be concatenated and I added - and : to make in a date time format
#I then converted the string column date time to datetime format and named it date time
#I dropped the column date the column date time1 as i have no need for it
df["DATE TIME1"] = df["YEAR"].astype(str)+"-0"+df["MONTH"].astype(str)+"-0"+df["DAY"].astype(str)+df["HOUR"].astype(str)+":"+df["MINUTE"].astype(str)+":00"
df["DATE TIME"] = pd.to_datetime(df["DATE TIME1"], format='%Y-%m-%d%H:%M:%S')
df.drop(["DATE TIME1"],axis="columns",inplace=True)
df

      BLUECAR COUNTER  UTILIB COUNTER  ...  MINUTE           DATE TIME
0                   0               0  ...      43 2018-04-08 11:43:00
1                   6               0  ...      24 2018-04-06 07:24:00
2                   3               0  ...      14 2018-04-03 20:14:00
3                   3               1  ...      37 2018-04-04 04:37:00
4                   3               0  ...      23 2018-04-08 17:23:00
...               ...             ...  ...     ...                 ...
4995                2               0  ...      26 2018-04-06 11:26:00
4996                4               0  ...      56 2018-04-04 16:56:00
4997                1               0  ...       1 2018-04-01 07:01:00
4998                2               0  ...      27 2018-04-04 17:27:00
4999                4               0  ...       2 2018-04-08 10:02:00

[5000 rows x 18 columns]

##Exporting our dataset

In [ ]:
#Exporting our dataset to a csv file so we can work on sql
df.to_csv("Autolib1")
#You can download the file if you would like onto your computer from files in the notebook
#Index false so we don't get an index

##Importing data from csv file

In [ ]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database 
%sql sqlite://

'Connected: @None'

In [ ]:
#Loading our table from the file
#We will use the data that we have cleaned with python
with open('Autolib1','r') as f:
    autolib = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS autolib;
%sql PERSIST autolib;
%sql SELECT * FROM autolib LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 0, 0, 0, 'Paris', 'paris-suffren-2', 'STATION', 75015, 'Paris/Suffren/2', 'operational', 2, 'station', 'ok', 2018, 4, 8, 11, 43, '2018-04-08 11:43:00'),
 (1, 6, 0, 0, 'Paris', 'paris-raymondlosserand-145', 'STATION', 75014, 'Paris/Raymond Losserand/145', 'operational', 0, 'station', 'ok', 2018, 4, 6, 7, 24, '2018-04-06 07:24:00'),
 (2, 3, 0, 2, 'Le Bourget', 'lebourget-johnfitzgeraldkennedy-2', 'STATION', 93350, 'Le Bourget/John Fitzgerald Kennedy/2', 'operational', 1, 'station', 'ok', 2018, 4, 3, 20, 14, '2018-04-03 20:14:00'),
 (3, 3, 1, 0, 'Paris', 'paris-eugeneoudine-51', 'STATION', 75013, 'Paris/EugÃ¨ne OudinÃ©/51', 'operational', 2, 'station', 'ok', 2018, 4, 4, 4, 37, '2018-04-04 04:37:00'),
 (4, 3, 0, 0, 'Paris', 'paris-portedechamperret-6', 'PARKING', 75017, 'Paris/Porte de Champerret/6', 'operational', 3, 'station', 'ok', 2018, 4, 8, 17, 23, '2018-04-08 17:23:00')]

##Answering Questions

###Main research question

In [ ]:
#Main research question
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris
#over the month of April 2018.
#I am first going to get the average number of bluecars in a counter at each hour
#The city is Paris 
%%sql
create table tbl1 as
select  "HOUR",avg("BLUECAR COUNTER") as "AVG BLUECAR COUNTER" from autolib
where "CITY" = "Paris" 
group by "HOUR"

 * sqlite://
Done.

[]

In [ ]:
%%sql
select * from tbl1

 * sqlite://
Done.

[(0, 1.8727272727272728),
 (1, 1.9714285714285715),
 (2, 1.7967479674796747),
 (3, 1.936),
 (4, 1.8660714285714286),
 (5, 2.0085470085470085),
 (6, 2.096774193548387),
 (7, 1.859504132231405),
 (8, 1.828125),
 (9, 2.0491803278688523),
 (10, 1.9173553719008265),
 (11, 1.8785046728971964),
 (12, 2.0833333333333335),
 (13, 1.8157894736842106),
 (14, 1.5233644859813085),
 (15, 1.9639639639639639),
 (16, 1.625),
 (17, 1.6120689655172413),
 (18, 1.7297297297297298),
 (19, 1.6929824561403508),
 (20, 1.3423423423423424),
 (21, 1.8231292517006803),
 (22, 1.8584905660377358),
 (23, 1.646551724137931)]

In [ ]:
#I created a table which lags behind one hour to subtract it to get the average number of either picked or returned bluecars

%%sql
create table tble1 as 
SELECT "HOUR" as "HOUR1","AVG BLUECAR COUNTER" as "AVG BLUECAR COUNTER1"
FROM tbl1
ORDER BY (CASE WHEN "HOUR" = 23 THEN 1 ELSE 2 END), HOUR;

 * sqlite://
Done.

[]

In [ ]:
%%sql 
select * from tble1

 * sqlite://
Done.

[(23, 1.646551724137931),
 (0, 1.8727272727272728),
 (1, 1.9714285714285715),
 (2, 1.7967479674796747),
 (3, 1.936),
 (4, 1.8660714285714286),
 (5, 2.0085470085470085),
 (6, 2.096774193548387),
 (7, 1.859504132231405),
 (8, 1.828125),
 (9, 2.0491803278688523),
 (10, 1.9173553719008265),
 (11, 1.8785046728971964),
 (12, 2.0833333333333335),
 (13, 1.8157894736842106),
 (14, 1.5233644859813085),
 (15, 1.9639639639639639),
 (16, 1.625),
 (17, 1.6120689655172413),
 (18, 1.7297297297297298),
 (19, 1.6929824561403508),
 (20, 1.3423423423423424),
 (21, 1.8231292517006803),
 (22, 1.8584905660377358)]

In [ ]:
#I could not join and subtract the columns in the end
%%sql
ALTER TABLE tbl1 ADD COLUMN "NUMBER";
UPDATE table1 t1
INNER JOIN Tabel2 t2 ON t1.id = t2.id 
SET t1.age = t2.age;

 * sqlite://
Done.

[(0, 1.8727272727272728, 1, 1.9714285714285715),
 (0, 1.8727272727272728, 3, 1.936),
 (0, 1.8727272727272728, 5, 2.0085470085470085),
 (0, 1.8727272727272728, 6, 2.096774193548387),
 (0, 1.8727272727272728, 9, 2.0491803278688523),
 (0, 1.8727272727272728, 10, 1.9173553719008265),
 (0, 1.8727272727272728, 11, 1.8785046728971964),
 (0, 1.8727272727272728, 12, 2.0833333333333335),
 (0, 1.8727272727272728, 15, 1.9639639639639639),
 (1, 1.9714285714285715, 5, 2.0085470085470085),
 (1, 1.9714285714285715, 6, 2.096774193548387),
 (1, 1.9714285714285715, 9, 2.0491803278688523),
 (1, 1.9714285714285715, 12, 2.0833333333333335),
 (2, 1.7967479674796747, 0, 1.8727272727272728),
 (2, 1.7967479674796747, 1, 1.9714285714285715),
 (2, 1.7967479674796747, 3, 1.936),
 (2, 1.7967479674796747, 4, 1.8660714285714286),
 (2, 1.7967479674796747, 5, 2.0085470085470085),
 (2, 1.7967479674796747, 6, 2.096774193548387),
 (2, 1.7967479674796747, 7, 1.859504132231405),
 (2, 1.7967479674796747, 8, 1.828125),
 (2, 1.7967479674796747, 9, 2.0491803278688523),
 (2, 1.7967479674796747, 10, 1.9173553719008265),
 (2, 1.7967479674796747, 11, 1.8785046728971964),
 (2, 1.7967479674796747, 12, 2.0833333333333335),
 (2, 1.7967479674796747, 13, 1.8157894736842106),
 (2, 1.7967479674796747, 15, 1.9639639639639639),
 (2, 1.7967479674796747, 21, 1.8231292517006803),
 (2, 1.7967479674796747, 22, 1.8584905660377358),
 (3, 1.936, 1, 1.9714285714285715),
 (3, 1.936, 5, 2.0085470085470085),
 (3, 1.936, 6, 2.096774193548387),
 (3, 1.936, 9, 2.0491803278688523),
 (3, 1.936, 12, 2.0833333333333335),
 (3, 1.936, 15, 1.9639639639639639),
 (4, 1.8660714285714286, 0, 1.8727272727272728),
 (4, 1.8660714285714286, 1, 1.9714285714285715),
 (4, 1.8660714285714286, 3, 1.936),
 (4, 1.8660714285714286, 5, 2.0085470085470085),
 (4, 1.8660714285714286, 6, 2.096774193548387),
 (4, 1.8660714285714286, 9, 2.0491803278688523),
 (4, 1.8660714285714286, 10, 1.9173553719008265),
 (4, 1.8660714285714286, 11, 1.8785046728971964),
 (4, 1.8660714285714286, 12, 2.0833333333333335),
 (4, 1.8660714285714286, 15, 1.9639639639639639),
 (5, 2.0085470085470085, 6, 2.096774193548387),
 (5, 2.0085470085470085, 9, 2.0491803278688523),
 (5, 2.0085470085470085, 12, 2.0833333333333335),
 (7, 1.859504132231405, 0, 1.8727272727272728),
 (7, 1.859504132231405, 1, 1.9714285714285715),
 (7, 1.859504132231405, 3, 1.936),
 (7, 1.859504132231405, 4, 1.8660714285714286),
 (7, 1.859504132231405, 5, 2.0085470085470085),
 (7, 1.859504132231405, 6, 2.096774193548387),
 (7, 1.859504132231405, 9, 2.0491803278688523),
 (7, 1.859504132231405, 10, 1.9173553719008265),
 (7, 1.859504132231405, 11, 1.8785046728971964),
 (7, 1.859504132231405, 12, 2.0833333333333335),
 (7, 1.859504132231405, 15, 1.9639639639639639),
 (8, 1.828125, 0, 1.8727272727272728),
 (8, 1.828125, 1, 1.9714285714285715),
 (8, 1.828125, 3, 1.936),
 (8, 1.828125, 4, 1.8660714285714286),
 (8, 1.828125, 5, 2.0085470085470085),
 (8, 1.828125, 6, 2.096774193548387),
 (8, 1.828125, 7, 1.859504132231405),
 (8, 1.828125, 9, 2.0491803278688523),
 (8, 1.828125, 10, 1.9173553719008265),
 (8, 1.828125, 11, 1.8785046728971964),
 (8, 1.828125, 12, 2.0833333333333335),
 (8, 1.828125, 15, 1.9639639639639639),
 (8, 1.828125, 22, 1.8584905660377358),
 (9, 2.0491803278688523, 6, 2.096774193548387),
 (9, 2.0491803278688523, 12, 2.0833333333333335),
 (10, 1.9173553719008265, 1, 1.9714285714285715),
 (10, 1.9173553719008265, 3, 1.936),
 (10, 1.9173553719008265, 5, 2.0085470085470085),
 (10, 1.9173553719008265, 6, 2.096774193548387),
 (10, 1.9173553719008265, 9, 2.0491803278688523),
 (10, 1.9173553719008265, 12, 2.0833333333333335),
 (10, 1.9173553719008265, 15, 1.9639639639639639),
 (11, 1.8785046728971964, 1, 1.9714285714285715),
 (11, 1.8785046728971964, 3, 1.936),
 (11, 1.8785046728971964, 5, 2.0085470085470085),
 (11, 1.8785046728971964, 6, 2.096774193548387),
 (11, 1.8785046728971964, 9, 2.0491803278688523),
 (11, 1.8785046728971964, 10, 1.9173553719008265),
 (11, 1.8785046728971964, 12, 2.0833333333333335),
 (11, 1.8785046728971964, 15, 1.9639639639639639),
 (12, 2.0833333333333335, 6, 2.096774193548387),
 (13, 1.8157894736842106, 0, 1.8727272727272728),
 (13, 1.8157894736842106, 1, 1.9714285714285715),
 (13, 1.8157894736842106, 3, 1.936),
 (13, 1.8157894736842106, 4, 1.8660714285714286),
 (13, 1.8157894736842106, 5, 2.0085470085470085),
 (13, 1.8157894736842106, 6, 2.096774193548387),
 (13, 1.8157894736842106, 7, 1.859504132231405),
 (13, 1.8157894736842106, 8, 1.828125),
 (13, 1.8157894736842106, 9, 2.0491803278688523),
 (13, 1.8157894736842106, 10, 1.9173553719008265),
 (13, 1.8157894736842106, 11, 1.8785046728971964),
 (13, 1.8157894736842106, 12, 2.0833333333333335),
 (13, 1.8157894736842106, 15, 1.9639639639639639),
 (13, 1.8157894736842106, 21, 1.8231292517006803),
 (13, 1.8157894736842106, 22, 1.8584905660377358),
 (14, 1.5233644859813085, 23, 1.646551724137931),
 (14, 1.5233644859813085, 0, 1.8727272727272728),
 (14, 1.5233644859813085, 1, 1.9714285714285715),
 (14, 1.5233644859813085, 2, 1.7967479674796747),
 (14, 1.5233644859813085, 3, 1.936),
 (14, 1.5233644859813085, 4, 1.8660714285714286),
 (14, 1.5233644859813085, 5, 2.0085470085470085),
 (14, 1.5233644859813085, 6, 2.096774193548387),
 (14, 1.5233644859813085, 7, 1.859504132231405),
 (14, 1.5233644859813085, 8, 1.828125),
 (14, 1.5233644859813085, 9, 2.0491803278688523),
 (14, 1.5233644859813085, 10, 1.9173553719008265),
 (14, 1.5233644859813085, 11, 1.8785046728971964),
 (14, 1.5233644859813085, 12, 2.0833333333333335),
 (14, 1.5233644859813085, 13, 1.8157894736842106),
 (14, 1.5233644859813085, 15, 1.9639639639639639),
 (14, 1.5233644859813085, 16, 1.625),
 (14, 1.5233644859813085, 17, 1.6120689655172413),
 (14, 1.5233644859813085, 18, 1.7297297297297298),
 (14, 1.5233644859813085, 19, 1.6929824561403508),
 (14, 1.5233644859813085, 21, 1.8231292517006803),
 (14, 1.5233644859813085, 22, 1.8584905660377358),
 (15, 1.9639639639639639, 1, 1.9714285714285715),
 (15, 1.9639639639639639, 5, 2.0085470085470085),
 (15, 1.9639639639639639, 6, 2.096774193548387),
 (15, 1.9639639639639639, 9, 2.0491803278688523),
 (15, 1.9639639639639639, 12, 2.0833333333333335),
 (16, 1.625, 23, 1.646551724137931),
 (16, 1.625, 0, 1.8727272727272728),
 (16, 1.625, 1, 1.9714285714285715),
 (16, 1.625, 2, 1.7967479674796747),
 (16, 1.625, 3, 1.936),
 (16, 1.625, 4, 1.8660714285714286),
 (16, 1.625, 5, 2.0085470085470085),
 (16, 1.625, 6, 2.096774193548387),
 (16, 1.625, 7, 1.859504132231405),
 (16, 1.625, 8, 1.828125),
 (16, 1.625, 9, 2.0491803278688523),
 (16, 1.625, 10, 1.9173553719008265),
 (16, 1.625, 11, 1.8785046728971964),
 (16, 1.625, 12, 2.0833333333333335),
 (16, 1.625, 13, 1.8157894736842106),
 (16, 1.625, 15, 1.9639639639639639),
 (16, 1.625, 18, 1.7297297297297298),
 (16, 1.625, 19, 1.6929824561403508),
 (16, 1.625, 21, 1.8231292517006803),
 (16, 1.625, 22, 1.8584905660377358),
 (17, 1.6120689655172413, 23, 1.646551724137931),
 (17, 1.6120689655172413, 0, 1.8727272727272728),
 (17, 1.6120689655172413, 1, 1.9714285714285715),
 (17, 1.6120689655172413, 2, 1.7967479674796747),
 (17, 1.6120689655172413, 3, 1.936),
 (17, 1.6120689655172413, 4, 1.8660714285714286),
 (17, 1.6120689655172413, 5, 2.0085470085470085),
 (17, 1.6120689655172413, 6, 2.096774193548387),
 (17, 1.6120689655172413, 7, 1.859504132231405),
 (17, 1.6120689655172413, 8, 1.828125),
 (17, 1.6120689655172413, 9, 2.0491803278688523),
 (17, 1.6120689655172413, 10, 1.9173553719008265),
 (17, 1.6120689655172413, 11, 1.8785046728971964),
 (17, 1.6120689655172413, 12, 2.0833333333333335),
 (17, 1.6120689655172413, 13, 1.8157894736842106),
 (17, 1.6120689655172413, 15, 1.9639639639639639),
 (17, 1.6120689655172413, 16, 1.625),
 (17, 1.6120689655172413, 18, 1.7297297297297298),
 (17, 1.6120689655172413, 19, 1.6929824561403508),
 (17, 1.6120689655172413, 21, 1.8231292517006803),
 (17, 1.6120689655172413, 22, 1.8584905660377358),
 (18, 1.7297297297297298, 0, 1.8727272727272728),
 (18, 1.7297297297297298, 1, 1.9714285714285715),
 (18, 1.7297297297297298, 2, 1.7967479674796747),
 (18, 1.7297297297297298, 3, 1.936),
 (18, 1.7297297297297298, 4, 1.8660714285714286),
 (18, 1.7297297297297298, 5, 2.0085470085470085),
 (18, 1.7297297297297298, 6, 2.096774193548387),
 (18, 1.7297297297297298, 7, 1.859504132231405),
 (18, 1.7297297297297298, 8, 1.828125),
 (18, 1.7297297297297298, 9, 2.0491803278688523),
 (18, 1.7297297297297298, 10, 1.9173553719008265),
 (18, 1.7297297297297298, 11, 1.8785046728971964),
 (18, 1.7297297297297298, 12, 2.0833333333333335),
 (18, 1.7297297297297298, 13, 1.8157894736842106),
 (18, 1.7297297297297298, 15, 1.9639639639639639),
 (18, 1.7297297297297298, 21, 1.8231292517006803),
 (18, 1.7297297297297298, 22, 1.8584905660377358),
 (19, 1.6929824561403508, 0, 1.8727272727272728),
 (19, 1.6929824561403508, 1, 1.9714285714285715),
 (19, 1.6929824561403508, 2, 1.7967479674796747),
 (19, 1.6929824561403508, 3, 1.936),
 (19, 1.6929824561403508, 4, 1.8660714285714286),
 (19, 1.6929824561403508, 5, 2.0085470085470085),
 (19, 1.6929824561403508, 6, 2.096774193548387),
 (19, 1.6929824561403508, 7, 1.859504132231405),
 (19, 1.6929824561403508, 8, 1.828125),
 (19, 1.6929824561403508, 9, 2.0491803278688523),
 (19, 1.6929824561403508, 10, 1.9173553719008265),
 (19, 1.6929824561403508, 11, 1.8785046728971964),
 (19, 1.6929824561403508, 12, 2.0833333333333335),
 (19, 1.6929824561403508, 13, 1.8157894736842106),
 (19, 1.6929824561403508, 15, 1.9639639639639639),
 (19, 1.6929824561403508, 18, 1.7297297297297298),
 (19, 1.6929824561403508, 21, 1.8231292517006803),
 (19, 1.6929824561403508, 22, 1.8584905660377358),
 (20, 1.3423423423423424, 23, 1.646551724137931),
 (20, 1.3423423423423424, 0, 1.8727272727272728),
 (20, 1.3423423423423424, 1, 1.9714285714285715),
 (20, 1.3423423423423424, 2, 1.7967479674796747),
 (20, 1.3423423423423424, 3, 1.936),
 (20, 1.3423423423423424, 4, 1.8660714285714286),
 (20, 1.3423423423423424, 5, 2.0085470085470085),
 (20, 1.3423423423423424, 6, 2.096774193548387),
 (20, 1.3423423423423424, 7, 1.859504132231405),
 (20, 1.3423423423423424, 8, 1.828125),
 (20, 1.3423423423423424, 9, 2.0491803278688523),
 (20, 1.3423423423423424, 10, 1.9173553719008265),
 (20, 1.3423423423423424, 11, 1.8785046728971964),
 (20, 1.3423423423423424, 12, 2.0833333333333335),
 (20, 1.3423423423423424, 13, 1.8157894736842106),
 (20, 1.3423423423423424, 14, 1.5233644859813085),
 (20, 1.3423423423423424, 15, 1.9639639639639639),
 (20, 1.3423423423423424, 16, 1.625),
 (20, 1.3423423423423424, 17, 1.6120689655172413),
 (20, 1.3423423423423424, 18, 1.7297297297297298),
 (20, 1.3423423423423424, 19, 1.6929824561403508),
 (20, 1.3423423423423424, 21, 1.8231292517006803),
 (20, 1.3423423423423424, 22, 1.8584905660377358),
 (21, 1.8231292517006803, 0, 1.8727272727272728),
 (21, 1.8231292517006803, 1, 1.9714285714285715),
 (21, 1.8231292517006803, 3, 1.936),
 (21, 1.8231292517006803, 4, 1.8660714285714286),
 (21, 1.8231292517006803, 5, 2.0085470085470085),
 (21, 1.8231292517006803, 6, 2.096774193548387),
 (21, 1.8231292517006803, 7, 1.859504132231405),
 (21, 1.8231292517006803, 8, 1.828125),
 (21, 1.8231292517006803, 9, 2.0491803278688523),
 (21, 1.8231292517006803, 10, 1.9173553719008265),
 (21, 1.8231292517006803, 11, 1.8785046728971964),
 (21, 1.8231292517006803, 12, 2.0833333333333335),
 (21, 1.8231292517006803, 15, 1.9639639639639639),
 (21, 1.8231292517006803, 22, 1.8584905660377358),
 (22, 1.8584905660377358, 0, 1.8727272727272728),
 (22, 1.8584905660377358, 1, 1.9714285714285715),
 (22, 1.8584905660377358, 3, 1.936),
 (22, 1.8584905660377358, 4, 1.8660714285714286),
 (22, 1.8584905660377358, 5, 2.0085470085470085),
 (22, 1.8584905660377358, 6, 2.096774193548387),
 (22, 1.8584905660377358, 7, 1.859504132231405),
 (22, 1.8584905660377358, 9, 2.0491803278688523),
 (22, 1.8584905660377358, 10, 1.9173553719008265),
 (22, 1.8584905660377358, 11, 1.8785046728971964),
 (22, 1.8584905660377358, 12, 2.0833333333333335),
 (22, 1.8584905660377358, 15, 1.9639639639639639),
 (23, 1.646551724137931, 0, 1.8727272727272728),
 (23, 1.646551724137931, 1, 1.9714285714285715),
 (23, 1.646551724137931, 2, 1.7967479674796747),
 (23, 1.646551724137931, 3, 1.936),
 (23, 1.646551724137931, 4, 1.8660714285714286),
 (23, 1.646551724137931, 5, 2.0085470085470085),
 (23, 1.646551724137931, 6, 2.096774193548387),
 (23, 1.646551724137931, 7, 1.859504132231405),
 (23, 1.646551724137931, 8, 1.828125),
 (23, 1.646551724137931, 9, 2.0491803278688523),
 (23, 1.646551724137931, 10, 1.9173553719008265),
 (23, 1.646551724137931, 11, 1.8785046728971964),
 (23, 1.646551724137931, 12, 2.0833333333333335),
 (23, 1.646551724137931, 13, 1.8157894736842106),
 (23, 1.646551724137931, 15, 1.9639639639639639),
 (23, 1.646551724137931, 18, 1.7297297297297298),
 (23, 1.646551724137931, 19, 1.6929824561403508),
 (23, 1.646551724137931, 21, 1.8231292517006803),
 (23, 1.646551724137931, 22, 1.8584905660377358)]

In [ ]:
%%sql
insert into table24("NEW VALUES")
select "AVG BLUECAR COUNTERS" from table12

 * sqlite://
(sqlite3.OperationalError) table table24 has no column named NEW VALUES
[SQL: insert into table24("NEW VALUES")
select "AVG BLUECAR COUNTERS" from table12]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
%%sql

 * sqlite://
(sqlite3.OperationalError) near "WITH": syntax error
[SQL: ALTER TABLE table7
ADD "NEW VALUES" float NOT NULL
WITH "AVG BLUECAR COUNTER1";]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
%%sql
select * from table9

 * sqlite://
(sqlite3.OperationalError) no such table: table9
[SQL: select * from table9]
(Background on this error at: http://sqlalche.me/e/13/e3q8)