<a href="https://colab.research.google.com/github/msheikh1/Week_4_Independant_project/blob/main/Moringa_Data_Science_Prep_W4_Independent_Project_2019_06_Masud_Sheikh_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


##Importing libraries

---

In [90]:
#Importing numpy
import numpy as np
#Importing pandas
import pandas as pd

##Reading our datasets from the csv file

In [91]:
df = pd.read_csv("Autolib_dataset.csv")

df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 25 columns]

##Accessing data types of the dataset

In [92]:
#Getting the info of the dataset at hand 
df.info()
#Now we now data type and understanding of the columns while getting the number of entries and more
#This gives us a rough overview of what we are working with

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

##Cleaning our dataset

###Validity

In [93]:
#Dropping irrelevant data not necessary to answer the questions
#Displayed comment was irrelevant and had many null values 
#Then displaying the table to check results
df.drop(["Displayed comment"],axis="columns",inplace=True)
df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 24 columns]

In [94]:
#Dropping Geo point column as no question refers to it
df.drop(["Geo point"],axis="columns",inplace=True)
df.head(3)

                            Address  Cars  Bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 23 columns]

In [95]:
#Dropping charging status and scheduled at 
df.drop(["Charging Status","Scheduled at","Slots","Charge Slots","Address","Cars"],axis="columns",inplace=True)
df.head(3)

   Cars  Bluecar counter  Utilib counter  ...  day hour minute
0     0                0               0  ...    8   11     43
1     6                6               0  ...    6    7     24
2     3                3               0  ...    3   20     14

[3 rows x 18 columns]

###Accuracy

In [49]:
#There is no sums or totals in any of the columns so you can't test for accuracy in  this data

###Completeness

In [96]:
#For completeness we look for null values in the data
df.isnull().any()
#In this case none if they were we would have pinpointed and decided whether to delete it

Cars                   False
Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
City                   False
ID                     False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

###Uniformity

In [97]:
#In this case I made all the column names uppercase for uniformity
df=df.rename(columns=str.upper)
df.head(3)

   CARS  BLUECAR COUNTER  UTILIB COUNTER  ...  DAY HOUR MINUTE
0     0                0               0  ...    8   11     43
1     6                6               0  ...    6    7     24
2     3                3               0  ...    3   20     14

[3 rows x 18 columns]

###Consistency

In [98]:
#Checking for duplicated values which could have been a mistake in the data
df.duplicated().sum()
#The are zero duplicates

0

##Creating new columns

In [99]:
#Creating a new column called date which is called date time1 which will be used by us temporarily
#The date time1 has the columns(year,month,day,hour,minute) all concatenated as a string so they can be concatenated and I added - and : to make in a date time format
#I then converted the string column date time to datetime format and named it date time
#I dropped the column date the column date time1 as i have no need for it
df["DATE TIME1"] = df["YEAR"].astype(str)+"-0"+df["MONTH"].astype(str)+"-0"+df["DAY"].astype(str)+df["HOUR"].astype(str)+":"+df["MINUTE"].astype(str)+":00"
df["DATE TIME"] = pd.to_datetime(df["DATE TIME1"], format='%Y-%m-%d%H:%M:%S')
df.drop(["DATE TIME1"],axis="columns",inplace=True)
df

      CARS  BLUECAR COUNTER  UTILIB COUNTER  ...  HOUR MINUTE           DATE TIME
0        0                0               0  ...    11     43 2018-04-08 11:43:00
1        6                6               0  ...     7     24 2018-04-06 07:24:00
2        3                3               0  ...    20     14 2018-04-03 20:14:00
3        3                3               1  ...     4     37 2018-04-04 04:37:00
4        3                3               0  ...    17     23 2018-04-08 17:23:00
...    ...              ...             ...  ...   ...    ...                 ...
4995     2                2               0  ...    11     26 2018-04-06 11:26:00
4996     4                4               0  ...    16     56 2018-04-04 16:56:00
4997     1                1               0  ...     7      1 2018-04-01 07:01:00
4998     2                2               0  ...    17     27 2018-04-04 17:27:00
4999     4                4               0  ...    10      2 2018-04-08 10:02:00

[5000 rows x 19 columns]

##Exporting our dataset

In [103]:
#Exporting our dataset to a csv file so we can work on sql
df.to_csv("Autolib1",index="false")
#You can download the file if you would like onto your computer from files in the notebook

##Importing data from csv file

In [115]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database 
%sql sqlite://

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: @None'

In [118]:
#Loading our table from the file
#We will use the data that we have cleaned with python
with open('Autolib1','r') as f:
    autolib = pd.read_csv(f, index_col=0, encoding='utf-8')
%sql DROP TABLE if EXISTS autolib;
%sql PERSIST autolib;
%sql SELECT * FROM autolib LIMIT 5;

drop

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(0, 0, 0, 0, 0, 'Paris', 'paris-suffren-2', 'STATION', 75015, 'Paris/Suffren/2', 'operational', 'station', 'ok', 'nonexistent', 2018, 4, 8, 11, 43, '2018-04-08 11:43:00'),
 (1, 6, 6, 0, 0, 'Paris', 'paris-raymondlosserand-145', 'STATION', 75014, 'Paris/Raymond Losserand/145', 'operational', 'station', 'ok', 'nonexistent', 2018, 4, 6, 7, 24, '2018-04-06 07:24:00'),
 (2, 3, 3, 0, 2, 'Paris', 'lebourget-johnfitzgeraldkennedy-2', 'STATION', 93350, 'Le Bourget/John Fitzgerald Kennedy/2', 'operational', 'station', 'ok', 'nonexistent', 2018, 4, 3, 20, 14, '2018-04-03 20:14:00'),
 (3, 3, 3, 1, 0, 'Paris', 'paris-eugeneoudine-51', 'STATION', 75013, 'Paris/EugÃ¨ne OudinÃ©/51', 'operational', 'station', 'ok', 'nonexistent', 2018, 4, 4, 4, 37, '2018-04-04 04:37:00'),
 (4, 3, 3, 0, 0, 'Paris', 'paris-portedechamperret-6', 'PARKING', 75017, 'Paris/Porte de Champerret/6', 'operational', 'station', 'ok', 'nonexistent', 2018, 4, 8, 17, 23, '2018-04-08 17:23:00')]

##Answering Questions

###Main research question

In [1]:
#Main research question
#Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris
#over the month of April 2018.
%%sql
select "HOUR","CITY",avg("BLUECAR COUNTER") from autolib
where "CITY" = "Paris" 
group by "HOUR"

UsageError: Cell magic `%%sql` not found.